:root {
  --primary-color: #20283b;
  --secondary-color: #83b1d4;
  --textColorMain: rgba(255, 255, 255, 0.8);
  --textColorSecondary: rgba(0, 0, 0, 0.45);
  --black-color: #030303;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
