:root {
  --primary-color: #20283b;
  --black-color: #030303;
  --main-button-color: #83b1d4;
  --secondary-button-color: transparent;
  --background-color: #20283b;
  --main-text-color: #ffffff;
  --secondary-text-color: rgba(0, 0, 0, 0.8);
}

.container {
  width: 90%;
  height: 100%;
  max-width: 100vw;
  margin: auto;
}
